
    html {
        scroll-behavior: smooth;
    }

 

.portada {
    background-image: url(Pictures/ba3.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
 

.font {
    font-size: medium;
    text-decoration: none;
}

